body{
    background-color: salmon;
    font-family: 'Roboto', sans-serif;
}

/* Header */

header{
    background: url(https://variety.com/wp-content/uploads/2021/07/Rick-Astley-Never-Gonna-Give-You-Up.png?w=681&h=383&crop=1&resize=681%2C383) no-repeat ;
    background-size: cover;
    background-position: center;
    height: 300px;
    width: auto;
    border: 2px solid white;
    top: 500px;
}

header li{
    display: inline-block;
    width: 80px;
}

header a{
    color: black;
    text-decoration: none;
}

header a:hover{
    color:white;
}

/*Main*/

/* Navigation */

main section article nav{
    background-color: pink;
    border: 2px solid white;
    display: inline-block;
}

main a{
    color: black;
    margin: 2px;
    text-decoration: none;
}

main a:hover{
    color: white;
}

/*Introduction*/

#introduction{
    margin: 20px 0px;
    background-color: pink;
    border: 2px solid white;
    color:black;
    position: relative;
}

#introduction img{
    height: 300px;
    width: 300px;
    float:left;
}

.button {
    border-radius: 4px;
    color: white;
    font-weight: 700;
    width: 200px;
    padding: 20px;
    margin: 40px auto;
    border: 2px solid white;
    text-align: center;
    background-color: black;
    display: block;
    clear:both;
}

.button:hover {
    background-color: white;
    border: 2px solid salmon;
    color: salmon;
}

/*Interests*/

#interest{
    margin: 20px 0px;
    background-color: pink;
    border: 2px solid white;
    color:black;
}

/*Achievement*/

#achievement{
    margin: 20px 0px;
    background-color: pink;
    border: 2px solid white;
    color:black;
}

/*Hobby*/

#hobby{
    margin: 20px 0px;
    background-color: pink;
    border: 2px solid white;
    color:black;
}

/*Media*/

#media{
    margin: 20px 0px;
    background-color: pink;
    border: 2px solid white;
    color:black;
}

footer {
    text-align: center;
    height: 100px;
    color: black;
  }
