img {
    border-radius: 100%;
    margin: auto;
    display: table-cell;
    height: 300px;
    width: 300px;
}

/*Introduction*/

#introduction {
    padding: 5px;
}

#introduction article {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    align-items: center;
}

#introduction h2,
h3,
.button {
    text-align: center;
}


.button {
    border-radius: 15px;
    color: white;
    font-weight: 700;
    width: 200px;
    padding: 20px;
    margin: 40px auto;
    border: 2px solid white;
    background-color: black;
    display: block;
    clear: both;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    border: 2px solid salmon;
    color: salmon;
    transition: color .1s ease-in, background-color .1s ease-in;
}

.button:active {
    font-size: 18px;
    transition: font-size .1s ease-in-out;
}

/*Interests*/

/*Achievement*/

/*Hobby*/

.hobby-panel {
    margin-bottom: 40px;
    padding: 80px 0px;
    text-align: center;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}

.hobbies {
    background-color: midnightblue;
    box-sizing: border-box;
    width: 240px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 5px;
    border: 1px solid #2176FF;
    cursor: pointer;
    text-decoration: none;
}

.hobbies:hover {
    background-color: #fff;
    color: midnightblue;
    transition: color .1s ease-in, background-color .1s ease-in;
}

.hobbies:active {
    font-size: 40px;
    transition: font-size .1s;
}

/*Media*/
